################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SD/FileContentIndex
WAVY/obj/
AGREGADOR/obj/
SERVIDOR/obj/
WAVY/bin/
AGREGADOR/bin/
SERVIDOR/bin/