################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SD/FileContentIndex
/AGREGADOR/obj
/SERVIDOR/obj
/WAVY/obj
/AGREGADOR/bin
/SERVIDOR/bin
/WAVY/bin